/* import Work sans font from font.google.com */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --font_work_sans: 'Work Sans', sans-serif;
    --pink_color: #FF42A5;
    --bluelight_color: #4EC5F7;
    --dark: #534C64;
    --black: #0B0223;
    --white: #FFFFFF;
    --l-gradient: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* some base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_work_sans);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--dark);
    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

img {
    width: 100%;
    height: 100%;
}

/* some reusable components styles */

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 2.5rem;
}

.btn {
    padding: .8rem 2rem;
    color: var(--white);
    background-color: transparent;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    border-radius: 3rem;
    cursor: pointer;
    transition: .3s all;
}

.btn-pink {
    background: var(--pink_color);
}

.btn-pink:hover {
    background: #fc0c88;
}

.btn-bluelight {
    background: var(--bluelight_color);
}

.btn-bluelight:hover {
    background: #01aef9;
}

.section-title {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    flex-direction: column;
}

.section-title h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}

.section-title h3 span {
    background: var(--black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title p {
    color: var(--dark);
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}






/* header nav section style  */
.header nav {
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.header nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 2.5rem;
    width: 100%;
}

.header nav .nav-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .8rem;
}

.header nav .nav-logo>span {
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--black);
}

.header nav .nav-logo span span {
    color: var(--pink_color);
}

.header nav .nav-logo img {
    width: 40px;
}

.header nav .nav-ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}


.header nav .nav-ul .nav-li .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: .3s background;
}

.header nav .nav-ul .nav-li .nav-btn span {
    color: var(--dark);
    font-size: 1.125rem;
    font-weight: 500;
}

.header nav .nav-ul .nav-li .nav-btn img {
    width: 30px;
}

.header nav .nav-ul .nav-li .nav-btn:hover {
    background: rgba(11, 2, 35, 0.05);
}

.header nav .nav-ul .nav-li .nav-link {
    color: var(--dark);
    font-size: 1.1rem;
    font-weight: 500;
    transition: .15s color;
}

.header nav .nav-ul .nav-li .nav-link:hover {
    color: var(--pink_color);
}


/* header home section style */

.header .home {
    background: url('../images/Group\ 14.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

.header .home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header .home .home-content .icons {
    width: 20px;
}

.header .home-content {
    flex: 1 0 50%;
}


.header .home .title h3 {
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header .home .title h2 {
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .home .container .subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 2rem;
}

.header .home .container .subtitle .subtitle-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .7rem;
}

.header .home .home-img {
    flex: 1 0 50%;
}



/* gamer section style */
.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gamer .sec-img {
    flex: 1 0 60%;
}

.gamer .sec-text {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gamer .sec-text .section-title p {
    text-align: right;
}

.gamer .sec-text .btn {
    margin: 1rem 0;
}

.gamer .sec-text .blocqute {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.gamer .sec-text .blocqute .title {
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
}

.gamer .sec-text .blocqute .qute {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
}


/* videos section style */
.videos .section-title {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.videos .videos-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.videos .videos-container .video {
    flex: 0 0 25%;
    padding: .5rem;
}

.videos .videos-container .video .img {
    position: relative;
}

.videos .videos-container .video .img-overlay {
    transition: .3s opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.60);
    opacity: 0;
    visibility: hidden;
}

.videos .videos-container .video .img-overlay img {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
}

.videos .videos-container .video .img-overlay span {
    color: var(--pink_color);
    font-size: 1.25rem;
    font-weight: 600;
}

.videos .videos-container .video:hover .img-overlay {
    opacity: 1;
    visibility: visible;
}


.videos .videos-container .video .video-title {
    color: var(--dark);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}


/* play game section style */
.play .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play .play-g-text {
    flex: 0 0 50%;
    padding-right: 5rem;
}

.play .play-g-text h3 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    max-width: 22rem;
    margin-left: auto;
    margin-bottom: 1.5rem;
}

.play .play-g-text h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play .play-g-text p {
    text-align: right;
}


.play .play-g-img {
    flex: 0 0 50%;
    position: relative;
    padding: 0 0 7.5rem 7.5rem;
}

.play .play-g-img .img-rb {
    width: 100%;
}

.play .play-g-img .img-ab {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 15rem;
    height: auto;
}

/* games section style */
.games .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.games .game {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .8rem 1rem;
    border-radius: 2.5rem;
}

.games .game:hover {
    outline: .1rem solid var(--pink_color);
}

.games .game:hover span {
    color: var(--pink_color);
}

.games img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}

.games span {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
}

/* footer section  style */
footer {
    background: #0B0223;
}

footer .container {
    padding: 5rem 4rem;
}

footer .container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

footer .container .title img {
    width: 3rem;
}

footer .container .title h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--white);
}

footer .container .title h3 span {
    color: var(--pink_color);
}

footer .container .quick-links {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

footer .container .quick-links li {
    display: flex;
    justify-content: center;
}

footer .container .social {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .container .condition {
    display: grid;
    grid-template-columns: 175px repeat(3, 125px);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .container ul a {
    color: var(--white);
}

footer .container ul .text-dark {
    color: rgba(255, 255, 255, 0.60);
}

footer .container ul a img {
    width: 30px;
}

footer .container>span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
}




@media screen and (max-width: 768px) {

    .header nav .container {
        flex-direction: column;
        row-gap: 1rem;
    }

    .header .home {
        background: transparent;
    }

    .header .container {
        row-gap: 2rem;
    }

    .header .home-content {
        flex: 1 0 100%;
        order: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url('../images/Group\ 14.png') no-repeat top left;
        background-size: cover;
        padding: 2rem;

    }

    .header .home-img {
        flex: 1 0 100%;
        order: 1;
    }


    .gamer .sec-img {
        flex: 1 0 100%;
    }

    .gamer .sec-text {
        flex: 1 0 100%;
        align-items: center;
        justify-content: center;
    }

    .gamer .sec-text .section-title {
        align-items: center;
    }

    .gamer .sec-text .section-title p {
        text-align: center;
    }

    .gamer .sec-text .blocqute {
        align-items: center;
    }

    .gamer .sec-text .blocqute .title {
        text-align: center;
    }

    .gamer .sec-text .blocqute .qute {
        text-align: center;
    }

    /* videso section */
    .videos .videos-container .video {
        flex: 0 0 50%;
    }



    /* play game section style */
    .play .play-g-text {
        flex: 0 0 100%;
        padding-right: 0rem;
    }

    .play .play-g-img {
        flex: 0 0 100%;
        margin-top: 2.5rem;
    }

    .play .play-g-text h3 {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
    }

    .play .play-g-text p {
        text-align: center;
    }


    /* games section style */
    .games .game {
        flex: 0 0 33.33%;
    }



    footer .container .quick-links {
        grid-template-columns: repeat(6, 100px);
    }

    footer .container .social {
        grid-template-columns: repeat(5, 30px);
    }

    footer .container .condition {
        grid-template-columns: 175px repeat(3, 125px);
    }


}


@media screen and (max-width: 426px) {


    .header nav {
        box-shadow: none;
    }

    .header nav .nav-ul {
        flex-direction: column;
        row-gap: 1rem;
    }


    .header .home .title h3 {
        font-size: 2rem;
    }

    .header .home .title h2 {
        font-size: 4rem;
    }

    .header .home .btn-bluelight {
        margin-top: 1rem;
    }



    .gamer .sec-text .section-title h3 {
        font-size: 2.5rem;
    }


    /* videso section */
    .videos .videos-container .video {
        flex: 0 0 100%;
    }

    .play .play-g-img .img-ab {
        width: 10rem;
    }

    .play .play-g-img {
        padding: 0 0 5rem 5rem;
    }


    footer .container .quick-links {
        grid-template-columns: repeat(3, 100px);
    }

    footer .container .social {
        grid-template-columns: repeat(3, 30px);
    }

    footer .container .condition {
        grid-template-columns: 175px repeat(1, 125px);
    }
}